.Bande-noir{
    padding:  50px;
    background-color: rgb(31, 31, 31);
    color: white;
}

.Bande-blanc{
    padding:  50px;
    background-color: white;
    color: rgb(31, 31, 31);
}

.txt-noir{color: rgb(31, 31, 31);}