.Bande-neon-rouge{
    padding:  20px;
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: -10px -5px 5px red;
    margin:  20px;
    border-radius: 15px;
}
.Bande-neon-rouge:hover{
    padding:  20px;
    background-color: rgba(0, 0, 0, 0.651);
    transition: 0.75s;
    box-shadow: 0px 8px 8px red;
    margin:  20px;
    border-radius: 15px; 
}